body {
  font-family: 'Roboto';
}
/* Kolory */
:root {
  --brand-color-white: white;
  --brand-color-black: black;
  --brand-color-blue: #2196f3;
  --brand-color-grey: #757575;
  --brand-background-black: black;
  --brand-background-blue: #2196f3;
  --brand-background-graphite: #2f303a;
  --brand-background-icon: #afb1b8;
  --brand-background-beige: #f5f4fa;
}
/* STYLES GLOBAL */

*,
*::before,
*::after {
  box-sizing: border-box;
}
.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: auto;
}
* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
}
.warning-box {
  color: var(--brand-color-black);
}
.warning {
  color: var(--brand-color-white);
}

/* END STYLES GLOBAL */

/* Header */

.header-line {
  border-bottom: 1px solid #ececec;
}
.header-menu {
  display: flex;
  align-items: center;
}
.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.logo {
  padding: 25px 0;
}
.logo-header {
  color: var(--brand-color-blue);
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  border: none;
}
.list {
  padding-left: 46px;
}
.menu-list {
  display: flex;
  flex-wrap: wrap;
}
.menu-item {
  margin-left: 46px;
}
.menu-mane {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--brand-color-black);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-active {
  position: relative;
}
.menu-active::after {
  content: '';
  position: absolute;
  display: block;
  top: 47px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--brand-background-blue);
}
.contact-header {
  cursor: pointer;
  display: flex;
  align-items: center;
}
.mail,
.tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--brand-color-grey);
  transition-property: color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-link:hover,
.menu-mane:hover,
.mail:hover,
.tel:hover {
  color: var(--brand-color-blue);
}
.contact-tel {
  margin-left: 30px;
}
.contact-mail-icon {
  vertical-align: -1px;
  fill: currentColor;
}
.contact-mail-icon:hover {
  fill: var(--brand-background-blue);
}
.contact-tel-icon {
  vertical-align: -3px;
  fill: currentColor;
}
.contact-tel-icon:hover {
  fill: var(--brand-background-blue);
}

/* Sekcja przycisk */

.bg {
  padding: 200px 0;
  background-color: var(--brand-background-graphite);
}
.bg-background {
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/background/background.jpg);
  background-size: 1600px;
  background-repeat: no-repeat;
  background-position: center;
}
.text-bg {
  padding-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--brand-color-white);
}
.text-button {
  padding: 10px 42px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  text-decoration: none;
  letter-spacing: 0.06em;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  background: var(--brand-color-blue);
  color: var(--brand-color-white);
  border: var(--brand-color-blue);
}
.text-button:hover {
  background-color: var(--brand-color-white);
  color: var(--brand-color-blue);
}
.bg-button {
  display: flex;
  justify-content: center;
}

/* Atuty */

.column {
  padding: 94px 0;
}
.column-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.column-item {
  width: 270px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--brand-color-grey);
}
.column-name {
  padding-top: 30px;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--brand-color-black);
}
.column-iteam-color {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px 0;
  border: 1px solid var(--brand-background-beige);
  border-radius: 4px;
  background-color: var(--brand-background-beige);
}

/* Czym się zajmujemy */

.job-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 94px;
}
.job-item {
  position: relative;
}
.job-item > img {
  display: block;
}
.job-description {
  width: 100%;
  background-color: rgba(47, 48, 58, 0.8);
  position: absolute;
  bottom: 0;
}
.job-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--brand-color-white);
  margin: 27px 0;
}

/* Nasz zespół */

.section-mane {
  padding-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.166;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--brand-color-black);
}
.team {
  background-color: var(--brand-background-beige);
  padding: 94px 0;
}
.team-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.team-mane {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.187;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--brand-color-black);
}
.team-text {
  padding-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.187;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--brand-color-grey);
}
.team-item {
  text-align: center;
  background: var(--brand-color-white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 30px 0;
}
.team-mane {
  padding-bottom: 10px;
}
.team-social {
  display: flex;
  gap: 10px;
}
.team-icon {
  fill: var(--brand-background-icon);
  border-radius: 50%;
  transition-property: fill, background-color, border-radius;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.team-icon:hover {
  fill: var(--brand-color-white);
  background-color: var(--brand-background-blue);
}

/* Nasi klienci */

.clients {
  padding: 94px 0;
}
.clients-name {
  padding-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.166;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--brand-color-black);
}
.clients-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.clients-item {
  cursor: pointer;
  padding: 16px 32px;
  border: 1px solid var(--brand-background-icon);
  border-radius: 4px;
  color: var(--brand-background-icon);
  transition-property: fill, color, border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-icon {
  fill: currentColor;
}
.clients-item:hover {
  border: 1px solid var(--brand-color-blue);
  color: var(--brand-color-blue);
}

/* Stopka */

.footer-bg {
  padding: 60px 0px;
  background-color: var(--brand-background-graphite);
}
.footer {
  display: flex;
}
.logo-footer {
  color: var(--brand-color-blue);
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.contact-list {
  margin: 20px 0;
}
.contact-link {
  text-decoration: none;
  color: var(--brand-color-grey);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-item:nth-last-child(-n + 2) {
  margin-top: 9px;
}
.contact-first {
  color: var(--brand-color-white);
}
.contact-second {
  text-decoration-line: underline;
}
.contact-name {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--brand-color-white);
}
.contact-social {
  margin-top: 10px;
  margin-left: 70px;
}
.social-contact-item {
  display: flex;
  gap: 10px;
}
.contact-icon {
  background-color: rgba(255, 255, 255, 0.1);
  fill: var(--brand-color-white);
  border-radius: 50%;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-icon:hover {
  background-color: var(--brand-background-blue);
}
.newsletter {
  margin-top: 10px;
  margin-left: auto;
}
.newsletter-item {
  display: flex;
  align-items: center;
}
.input-mail {
  width: 350px;
  margin-right: 12px;
  padding: 15px;
  font-weight: 400;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: var(--brand-color-white);
  background-color: var(--brand-background-graphite);
  outline: none;
}
.input-mail:hover,
.input-mail:focus,
.input-mail:not(:placeholder-shown):required:valid {
  border-color: var(--brand-background-blue);
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.input-mail:not(:placeholder-shown):required:invalid {
  border-color: red;
}
.submit {
  display: inline-flex;
  align-items: center;
  padding: 10px 28px 10px 42px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  color: var(--brand-color-white);
  background: var(--brand-background-blue);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  transition-property: color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.submit:hover,
.submit:focus {
  background-color: var(--brand-color-white);
  color: var(--brand-color-blue);
}
.send {
  margin-left: 24px;
  fill: currentColor;
}
.send:hover,
.send:focus {
  fill: var(--brand-color-blue);
}

/* PORTFOLIO */

/* Sekcja Filtra */

.buttons .buttons-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 94px 0 50px;
}
.buttons-text:nth-last-child(-n + 4) {
  margin-left: 8px;
}
.buttons-text {
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--brand-color-black);
  border: none;
  cursor: pointer;
  border-radius: 4px;
  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.buttons-text:hover,
.buttons-text:focus {
  background-color: var(--brand-background-blue);
  color: var(--brand-color-white);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

/* Portfolio */

.portfolio {
  padding-bottom: 94px;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  background: var(--brand-color-white);
  text-align: left;
}
.portfolio-mane {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.portfolio-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--brand-color-grey);
}
.portfolio-image {
  display: block;
}
.portfolio-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px 24px;
  border: 1px solid #eeeeee;
}
.portfolio-item {
  cursor: pointer;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-item:hover,
.portfolio-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio-overlay {
  position: relative;
  overflow: hidden;
}
.portfolio-item:hover .portfolio-image-overlay {
  transform: translatex(0);
}
.portfolio-image-overlay {
  position: absolute;
  display: flex;
  align-items: center;
  padding-left: 24px;
  padding-right: 45px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translatey(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-overlay-text {
  color: var(--brand-color-white);
  padding: 10px;
  margin: 0;
  font-size: 18px;
}

/* Okno modalne */

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: visibility 500ms, opacity 500ms;
}
.is-hidden .modal {
  transform: translate(-50%, -100%) rotatex(90deg);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  transform: translate(-50%, -50%);
  width: 528px;
  min-height: 581px;
  background-color: var(--brand-color-white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 500ms ease;
}
.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  font-weight: 700;
  background-color: var(--brand-color-white);
  border: none;
  border-radius: 50%;
  cursor: pointer;
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.close-button {
  stroke: var(--brand-background-icon);
  fill: var(--brand-color-white);
}
.modal-name {
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  color: var(--brand-color-black);
}
.modal-item {
  margin-top: 12px;
}
.modal-label {
  display: flex;
  flex-direction: column;
  position: relative;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  margin-bottom: 10px;
  color: var(--brand-color-black);
  outline: none;
}
.modal-label:hover,
.modal-label:focus-within {
  fill: var(--brand-background-blue);
}
.modal-input {
  padding: 12px 15px;
  padding-left: 40px;
  margin-top: 4px;
  width: 100%;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.14;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
}
.modal-input:hover,
.modal-input:focus {
  border-color: var(--brand-background-blue);
}
.modal-icon {
  position: absolute;
  top: 31px;
  left: 13px;
  outline: none;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-icon:hover,
.modal-icon:focus {
  border-color: var(--brand-background-blue);
}
.modal-textarea {
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-top: 4px;
  padding: 12px 16px;
  resize: none;
  outline: none;
}
.modal-textarea:hover,
.modal-textarea:focus {
  border-color: var(--brand-background-blue);
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-rule {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  padding-bottom: 30px;
}
.modal-check {
  width: 16px;
  height: 15px;
  position: relative;
  border: 1px solid;
  border-radius: 2px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  appearance: none;
  outline: none;
  overflow: hidden;
  transition-property: color, border-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-check:hover,
.modal-check:focus {
  border-color: var(--brand-background-blue);
}
.modal-check:checked::before {
  position: absolute;
  top: -2px;
  left: -2px;
  content: url('../images/check.svg');
}
.modal-statute {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.modal-statute .modal-link {
  text-decoration: underline;
  color: var(--brand-color-blue);
}
.send-btn {
  padding: 10px 76px;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
  border-radius: 4px;
  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  background: var(--brand-color-blue);
  color: var(--brand-color-white);
  border: var(--brand-color-blue);
}
.send-btn:hover,
.send-btn:focus {
  background-color: var(--brand-color-white);
  color: var(--brand-color-blue);
}
