@use '../utils/variables' as *;
@use '../utils/globals' as *;

.bg {
  padding: 200px 0;
  background-color: $background-graphite;
  &_background {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/background/background.jpg);
    background-size: 1600px;
    background-repeat: no-repeat;
    background-position: center;
  }
  &_content {
    @include mixin-main($color-white, 900, 44px, 1.36, 0.06em);
    padding-bottom: 30px;
    text-align: center;
    text-transform: uppercase;
  }
  &_button {
    display: flex;
    justify-content: center;
  }
  &_text {
    @include mixin-main($color-white, 700, 16px, 1.875, 0.06em);
    padding: 10px 42px;
    text-decoration: none;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    transition-property: background-color, color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    background: $background-blue;
    border: $color-blue;
  }
  &_text:hover {
    background-color: $color-white;
    color: $color-blue;
  }
}
