@use '../utils/variables' as *;
@use '../utils/globals' as *;

.nav {
  padding-left: 46px;

  &__list {
    @include mixin-display(flex, flex-start, stretch, wrap);
  }
  &__item {
    margin-left: 46px;
  }
  &__mane {
    @include mixin-main($color-black, 700, 14px, 1.14, 0.02em);
    text-decoration: none;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__active {
    position: relative;
  }
  &__active::after {
    content: '';
    position: absolute;
    display: block;
    margin-top: 29px;
    // top: 47px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: $background-blue;
  }
  &__contact-header {
    cursor: pointer;
    display: flex;
    align-items: center;
  }
  &__mail,
  &__tel {
    @include mixin-main($color-grey, 500, 14px, 1.14, 0.02em);
    text-decoration: none;
    transition-property: color, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__mane:hover,
  &__mail:hover,
  &__tel:hover {
    color: $color-blue;
  }
  &__contact-tel {
    margin-left: 30px;
  }
  &__contact-mail-icon {
    vertical-align: -1px;
    fill: currentColor;
  }
  &__contact-mail-icon:hover {
    fill: $background-blue;
  }
  &__contact-tel-icon {
    vertical-align: -3px;
    fill: currentColor;
  }
  &__contact-tel-icon:hover {
    fill: $background-blue;
  }
}
